.env
Visualize.ipynb

<iframe title="Manufacturing" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNjM4MzM5YTMtNWViYi00ZTQxLWE1OTEtZjIwOGU1ZjQ2ZGQ1IiwidCI6IjRjMzU3ZjRlLWIzM2QtNGM3Zi04OWIxLTFhYjhiMzVjYjZjYSIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>